/* @keyframes fadeIn {
  
  from {
    opacity: 0;
    bottom: 50%;
  }
} */
.semicirculo {
  animation: fadeIn 2s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

h1 > span:nth-child(1) {
  animation: fadeIn 500ms;
}
h1 > span:nth-child(2) {
  animation: fadeIn 800ms;
}
