@keyframes fadeIn {
  
  from {
    opacity: 0;
    bottom: 50%;
  }
}
h1 span {
  animation: fadeIn 2s;
}
.semicirculo {
  animation: fadeIn 2s;
  animation-timing-function: cubic-bezier(0.00, -0.55, 0.27, 1.55);
  box-shadow:  0 0 50px rgb(168 85 247);
}
.arrow {
  animation: 3s;
}


