/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  background-color: black;
  color: white;
}
.slide-up {
  animation: slideUp 0.5s ease forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


#myProjects-section article {
  animation: slideFromLeft linear forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: cover 76vh;
}
@keyframes slideFromLeft {
  from {opacity: 0; transform: translateX(-100%);}
}

svg {
  fill: #fefefe;
  transition: fill 0.3s ease;
}

svg:hover {
  fill: #a855f7;
}

.myHeader {
  color: hsl(0 0% 100% / 0.1);
  background-clip: text;
  background-image: linear-gradient(rgb(168 85 247), #B30000);
}

article, .navBar, footer {
  box-shadow:  0 0 20px rgb(168 85 247);
}